@font-face {
    font-family: 'iconfont';
    /* Project id 3280731 */
    src: url('//at.alicdn.com/t/font_3280731_9q6z6dniak8.woff2?t=1653542290252') format('woff2'),
        url('//at.alicdn.com/t/font_3280731_9q6z6dniak8.woff?t=1653542290252') format('woff'),
        url('//at.alicdn.com/t/font_3280731_9q6z6dniak8.ttf?t=1653542290252') format('truetype');
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #ecefed;
    box-sizing: content-box;
    
}

ul {
    display: flex;
    list-style-type: none;
    justify-content: space-around;
}

.banner {
    width: 100%;
    height: 80px;
    /* background-color: #39393b; */
    background-color: rgba(20, 20, 20, 0.555);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font-size: 20px;
    position: fixed;
    z-index: 999;
    top: 0;
}

/*当窗口宽度小于800px时的设置*/
@media screen and (max-width:800px) {
    .banner-other {
        display: none;
    }

    .menu {
        display: block;
    }

    .home {
        flex-wrap: wrap;
        justify-content: center;
    }

    .home-font {
        font-size: 2rem;
        color: #ffffff;
        text-align: center;

    }

}

/*当窗口宽度大于800px时的设置*/
@media screen and (min-width:800px) {
    .menu {
        display: none;
    }

    .home-font {
        width: 60%;
        color: #ffffff;
        font-size: 4vw;
        text-align: center;
    }

}

.home-font {
    letter-spacing: 10px;
}

.title {
    color: #fff;
    font-size: 3.5vh;
    cursor: pointer;
}

.menu {
    font-family: 'iconfont';
    font-size: 30px;
    cursor: pointer;
}

.banner-other li {
    padding: 10px 25px;
}

.banner-other li:hover {
    cursor: pointer;
    padding-bottom: 2px;
    border-bottom: #fff 2px solid;
}

.home {
    top: 80px;
    width: 100%;
    height: 90vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

}




a {
    color: #ecefed;
    text-decoration: none;
}

.homework {
    margin: 20px auto;
    width: 70%;
    margin-bottom: 50px;

}

.homework-tittle {
    color: #39393b;
    font-size: 3em;
    text-align: center;
    border-bottom: 1px #39393b solid;
}

.homework-display {
    display: flex;
    background-color: #39393b;
    margin-top: 20px;
    flex-direction: column;
}

.display-main-tittle {
    font-size: 2em;
}

.homework-display-main {
    display: flex;
    flex-direction: column;
    background-color: #39393b;
}

.homework-display-main li {
    height: 50px;
}

.homework-display-main li a:hover {
    padding-bottom: 5px;
    border-bottom: 2px white solid;
}

.background {
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover;
    top: 0;
    left: 0;
    z-index: -999;
}