body{
    margin: 0;
    padding: 0;
    font-family: inherit;

}
html{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;

    cursor: pointer;
}
.banner{
    min-width: none;
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    right: 0;
    background-color: #fff;
    display: flex;
    justify-content:space-between;
    align-items: center;
    z-index: 999;
    font-family: neue-haas-grotesk-display,sans-serif;
}/* 顶端导航栏 */
.max-width-concent{
    margin: 0 auto;
}

@media screen and (min-width:768px){
    .max-width-concent{
        width: 95%;
        max-width: 1080px;
    }
}

/* 手机端适配 */
@media screen and (max-width:992px) {
    .menu,.country,.search{
        visibility: hidden;

    }
}
@media screen and (min-width:992px) {
    .banner-icon{
        visibility: hidden;
    }
}

@media screen and (max-width:992px) {
    .banner-icon{
        visibility: visible;
    }
}
.banner-icon{
    position: absolute;
    right: 5%;
    
}

ul{
    list-style: none;
}/* 所有列表前标消失 */
.nav{
    display: flex;
    max-width: 1920px;
    flex-wrap: wrap;
    justify-content:center;
    align-items: center;
}/* 菜单主体 */
.midea_logo{
    width: 104px;
    height: auto;
}
.midea_logo a img{
    width: 100%;
 

}
.nav .menu .menu_ul{
    margin: 0;
    display: flex;
    /* background-color: antiquewhite; */
    height: 80px;
    align-items: flex-end;

}/* 一级菜单 */
.menu_ul .menu_li{
    height: 50px;
/*     background-color: aqua; */
    padding: 10px 20px;
    line-height: 40px;
    font-size: 16px;
    font-style: inherit;
}

.menu_li:hover .menu_link{
    padding-bottom: 5px;
    border-bottom: #225560 2px solid;
    color: #225560;
}/* 鼠标移动到菜单文字触发变色效果 */

.display{
    z-index: 1;
    left: 0;
    top:80px;
    position: absolute;
    width: 100%;
    height:auto;
    background-color: #225560;
    /* display: none; */
    transform: scaleY(0);
    transform-origin:50% 0;
    transition: all 0.6s;
    overflow: hidden;
}/* 下拉二级菜单背景 */


.menu_li:hover .display{
    /* display: block; */
    transform: scaleY(1);
    
}

.nav .search:hover .display{
    transform: scaleY(1);
}

.display_ul{
    display: flex;
    flex-direction: column;
    color: #fff;
    justify-content: center;
    margin-left: 100px;
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: 25px;
}
.display_li{
    margin-top: 20px;
    
}

.display_li a:hover{
    padding-bottom: 10px;
    border-bottom: #fff 2px solid;
}

.display a{
    
    color: #fff;
    text-decoration: none;
}
.search{
    width: 30px;
    height: 100%;
    
}
.search_img img{
    width: 120%;
}
.country{
    margin-left: 20px;
}
.nav .country:hover .display{
    transform: scaleY(1);
}
.search_main{
    width: 50%;
    height: auto;
    margin-top:5%;
    display: flex;
   color: white;
   margin: 0 auto; 
   flex-direction: column;
   margin-top: 5%;
   margin-bottom: 5%;

}/*搜索框主体*/
.search_main_ul{
    margin: 0 auto; 
    display: flex;
    margin: 0;
    top: 10px;
    position: relative;
}

.search_main_ul li{
    padding: 10px 15px;
}

.input_search{
        color: white;
        width: 100%;
        height: 50px;
       border: 0;
       outline: 0;
       background: transparent;
       border-bottom:2px solid white;
       font-size: 20px;
       margin: 0 auto; 
}
h4{
    margin: 0;
}
.mainland{

}/* 国家列表 */
.mainland_flag{

}

.web-background{
    margin-top:80px;
    width: 100%;
    background-size: cover;
}

.view{
    overflow: hidden;
}

.u-tittle{
    
    font-family: Noto Sans SC,SourceHanSansCn-Medium;
    font-weight: 500;
    font-style: normal;
    padding: 0 60px;
    font-size: 32px;
    letter-spacing: 5px;
    line-height: 1.5;
    display: inline-block;
    margin: 60px 0;
    color: #fff;
    background-color: #34364e;
}

.u-tittle::after{
    content: "";
    display: inline-block;
    width: 0;
    height: 100%;
    vertical-align: middle;
    margin-top: 1px;
}

.view-inside-wrapper{
    display: flex;
    font-size: 56px;

}

@media screen and (min-width: 768px){
    .view-inside-wrapper {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: start;
    }
}

@media screen and (min-width: 768px){
.m-data-icon-wrapper {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;

    }
}

.inside-wrapper-item{
    color: #34364e;
    width: 24%;
}

.inside-wrapper-item:nth-child(-n+4){
    margin-top: 0;
}

@media screen and (min-width:768px) {
    .inside-wrapper-item{
        margin-right: 1%;
        flex: none;
    }
}

.inside-wrapper-item-mainup{
    font-size: 24px;
    font-family: Noto Sans SC,SourceHanSansCn-Heavy;
    font-weight: 800;
    vertical-align: baseline;
}
@media screen and (min-width: 768px) and (max-width: 1080px){
    .inside-wrapper-item-mainup {
        font-size: 18px;
        letter-spacing: 1px;
    }
}
.inside-wrapper-item-sub{
    font-size: 18px;
}

@media screen and (min-width: 768px){
.m-business .bus-box {
    overflow: hidden;
    position: relative;
    width: 100%;
    margin-bottom: -70px;
}
}

@media screen and (min-width: 768px){
    .m-business-items {
        -webkit-transition: all .5s;
        transition: all .5s;
    }
}

@media screen and (min-width: 768px){
    .m-business-items .business-item {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-flex: 1;
        -ms-flex-positive: 1;
        flex-grow: 1;
    }
}

.m-business-items .business-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 70px auto 190px;
}

@media screen and (min-width:768px) {
    .m-business-items .business-item:nth-child(odd) .img-box{
        -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
        order: 1;
        margin-right: -50px;
    }
}

@media screen and (min-width: 768px){
    .m-business-items .img-box {
        width: 50%;
        position: relative;
        z-index: 100;
    }
}

@media screen and (min-width: 768px){
    .m-business-items .bus-img {
        width: 100%;
        min-height: 154px;
    }
}

.m-business-items .bus-img {
    width: 100%;
}

.m-preload-bg {
    background: url(../../static/img/midea-logo-cn.png) 50% no-repeat;
    background-size: 150px 60px;
}

@media screen and (min-width: 768px){
    .m-business-items .business-item:nth-child(2n) .img-box, .m-business-items .business-item:nth-child(odd) .txt-box {
        -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
        order: 2;
    }
}

@media screen and (min-width: 768px){
    .m-business-items .txt-box {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        width: 55%;
        background-color: #efefef;
        padding: 70px 0;
    }
}

.m-business-items .bus-link {
    -webkit-transition: all .5s;
    transition: all .5s;
    color: #34354f;
}

.m-business-items .txt-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 50%;
    background-color: #efefef;
    margin: -60px 0;
    color: #34354f;
    -webkit-transition: all .5s;
    transition: all .5s;
}

.m-business-items .txt-box:hover{
    background-color: #225560;
    color: #fff;
}

.m-business-items .txt-box-main {
    width: 55%;
}

.m-business-items .bus-link-name, .m-business-items .bus-name {
    font-family: Noto Sans SC,SourceHanSansCn-Bold;
    font-weight: 700;
    font-style: normal;
}

.m-business-items .bus-name {
    font-size: 36px;
    margin-bottom: 10px;
    letter-spacing: 1px;
    line-height: 54px;
}

.m-business-items .bus-name {
    overflow: hidden;
    font-size: 40px;
    margin-bottom: 5px;
    letter-spacing: 1.5px;
    font-family: neue-haas-grotesk-display,sans-serif;
}

.m-business-items .bus-desc {
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 0;
    font-family: Noto Sans SC,SourceHanSansCn-Normal;
    font-weight: 400;
    font-style: normal;
    margin-bottom: 10px;
}

.m-business-items .bus-desc {
    line-height: 1.5;
    font-weight: 500;
    margin-bottom: 20px;
}

.m-business-items .bus-desc, .m-business-items .bus-link-name {
    font-family: neue-haas-grotesk-display,sans-serif;
    font-size: 20px;
    letter-spacing: 1px;
}

.m-business-items .bus-link-name {
    font-size: 18px;
    letter-spacing: 0;
    line-height: 1;
}

.m-business-items .bus-link-name, .m-business-items .bus-name {
    font-family: Noto Sans SC,SourceHanSansCn-Bold;
    font-weight: 700;
    font-style: normal;
}

.m-business-items .bus-name {
    font-size: 36px;
    margin-bottom: 10px;
    letter-spacing: 1px;
    line-height: 54px;
}

.m-business-items .bus-name {
    overflow: hidden;
    font-size: 40px;
    margin-bottom: 5px;
    letter-spacing: 1.5px;
    font-family: neue-haas-grotesk-display,sans-serif;
}


.m-business-items .txt-box-main {
    width: 55%;
}

.text-box-main{
    width: 60%;
}


.footer{
    background-color: #efefef;
}
.underside{
    display: flex;
    color: #34354f;
    line-height: 40px;
    justify-content: space-between;

}
.underside-tittle{
    font-weight: 800;
    font-size: 16px;

}
.end{
    background-color: #34354f ;
    padding:.1em;
    
}

.end1{
    font-size: 10px;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
