@font-face {
  font-family: "iconfont"; /* Project id 2876411 */
  src: url('iconfont.woff2?t=1634569824951') format('woff2'),
       url('iconfont.woff?t=1634569824951') format('woff'),
       url('iconfont.ttf?t=1634569824951') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: red;
  margin-left: 20px;
  z-index: 1;
}

.iconfont:hover{
  color: #dd231c;
}

.icon-gouwuchekong:before {
  content: "\e600";
}

