.head{
    text-align: center;
    text-shadow: 4px 4px silver;
}

.text{
    border: 2px red dashed;
    padding: 1em;
    font-family:'Microsoft JhengHei';
    text-indent: 1em;
    line-height: 1.5em;
    letter-spacing: 0.5em;
    }

    .text::first-letter{
        font-size: 2em;
        font-style: italic;
        text-decoration: solid;
    }